* {
    margin: 0;
    padding: 0;
  }
  .container {
    opacity: 0;
    transition: all 0.5s;
    height: 100vh;

    .item {
      float: left;
      width: calc(1 / 12 * 100%);
      height: 100vh;
      text-align: center;
      line-height: 100vh;
      position: relative;
      font-size: 30px;
      font-style: italic;
      color: white;
      user-select: none;
      div {
       position: absolute;
       height: 100vh;
       left: 0;
       top: 0;
       width: 0;
       overflow: hidden;
     }
     .div1 {
       background-color: #2866d9;
       display: block;
       animation: move 0.6s 0s linear forwards;
     }
     .div2 {
       background-color: #aa00ff;
       display: block;
       animation: move 0.6s 0.8s linear forwards;
     }
     .div3 {
       background-color: #5500ff;
       display: block;
       animation: move 0.6s 1.6s linear forwards;
     }
     .div4 {
       background-color: #aa00ff;
       display: block;
       animation: move 0.6s 2.4s linear forwards;
     }
     .div5 {
       background-color: #55557f;
       display: block;
       animation: move 0.6s linear forwards;
     }
    }
    a {
      color: #333;
      text-decoration: none;
    }
  }
  .show {
    opacity: 1;
  }
  @keyframes move {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
